<table>
  <thead>
    <th>Title</th>
    <th>Director</th>
    <th>Year</th>
    <th>My Rating</th>
  <thead>
  <tbody>
     <% for (var i = 0; i < movies.length; i++) { %>
         <tr>
           <td><a href="/movies/<%- movies[i]._id %>" class="go-to-movie"><%= movies[i].title %></a></td>
           <td><%= movies[i].director %></td>
           <td><%= movies[i].year %></td>
           <td><%= movies[i].rating %></td>
           <td>
             <form action='/movies/<%= movies[i]._id %>' method='delete'>
               <input type="submit" class="form-button" value="Delete Movie"/>
             </form>
           </td>
           <td><a href="/movies/movies[i]._id/edit" class="form-button">Edit</a></td>
         </tr>
     <% } %>
  </tbody>
</table>
